@model List<URL>
<partial name="_Notifications" />
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-primary m-lg-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Список коротких URL</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<table id="tblData" class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th style="color: Black; text-align:center">Довге URL</th>
					<th style="color: Black; text-align:center">Коротке URL</th>
					<th style="color: Black; text-align:center"><i class="bi bi-three-dots"></i></th>
				</tr>
			</thead>
			<tbody style="text-align:center">
			</tbody>
		</table>
	</div>
</div>

@section Scripts
{
	<script src="~/js/url.js"></script>

}

